body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Serif KR', serif;
    background-color: #100411; /* 배경색 설정 */
    color: #F0E871; /* 글자색 설정 */
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    justify-content: flex-start;
    align-items: center;
}

.fixed-image {
    width: 100%;
    height: 50%; /* 화면의 절반을 이미지에 할당 */
    background: url('img.png') no-repeat center center;
    background-size: cover;
}

.scrolling-text {
    width: 100%;
    height: 50%; /* 화면의 나머지 절반을 텍스트 박스에 할당 */
    overflow-y: scroll;
    background-color: #100411; /* 텍스트 박스 배경색 */
    padding: 20px;
    font-size: 16px;
}

/* 스크롤바 숨기기 */
.scrolling-text::-webkit-scrollbar {
    display: none;
}
.scrolling-text {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Noto Serif KR 폰트 클래스 */
.noto-serif-kr-regular {
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-kr-bold {
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 600px) {
    .scrolling-text {
        width: 100%;
        height: 50%;
        font-size: 14px;
        padding: 15px;
    }
}
