body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Noto Serif KR', serif;
    background-color: #100411;
    color: #F0E871;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.scrolling-text {
    position: relative;
    width: 70%;
    height: 65%;
    overflow-y: auto;
    background-color: rgba(16, 4, 17, 0.8);
    padding: 20px;
    z-index: 2;
    font-size: 16px;
    box-sizing: border-box;
    margin: auto;
}

/* 스크롤바 숨기기 */
.scrolling-text::-webkit-scrollbar {
    display: none;
}
.scrolling-text {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Noto Serif KR 폰트 클래스 */
.noto-serif-kr-regular {
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 600px) {
    .scrolling-text {
        font-size: 14px;
        padding: 15px;
    }
}
